{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h3 class="mb-3 text-center">Create Account</h3>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-primary w-100">Register</button>
                <div class="text-center mt-3">
                    <small>
                        Already have an account?
                        <a href="{% url 'users:login' %}">Login here</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
